{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Sistema de registro de pontos Mastertech{% endblock %}</h1>
{% endblock %} {% block content %}
<br />
<div class="content">
  <p>Aqui é possível realizar os testes de aceitação.</p>
  <p>
    Através dos hiperlinks da barra de controle superior e dentro das seções
    subsequentes é possível executar as seguintes ações:
  </p>
  <ul>
    <li>Registrar um novo usuário</li>
    <li>Ver a lista com todos usuários</li>
    <li>Ver a informação de um usuário escolhido</li>
    <li>Editar a informação do usuário</li>
    <li>Registrar um ponto</li>
    <li>Ver as informações de ponto</li>
  </ul>
</div>

{% endblock %}
